absl-py==2.1.0
anyio==4.8.0
click==8.1.8
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
deepface==0.0.93
ExifRead==3.0.0
fastapi==0.115.8
h5py==3.12.1
idna==3.10
Jinja2==3.1.5
joblib==1.4.2
matplotlib==3.9.4
numpy>=1.23.5,<2.0.0
opencv-python-headless==4.11.0.86
pandas==2.2.3
pillow==11.1.0
protobuf>=3.20.3,<5.0.0dev
pydantic==2.10.6
PySocks==1.7.1
python-dateutil==2.9.0.post0
requests==2.32.3
retina-face==0.0.17
scipy==1.13.1
six==1.17.0
starlette==0.45.3
tensorflow-macos==2.15.0
tensorflow-metal==1.1.0
torch==2.6.0
torchvision==0.21.0
tqdm==4.67.1
typing_extensions==4.12.2
urllib3<2.0.0
uvicorn==0.34.0